body{
    background-color: rgb(166, 228, 73);
    margin-top: 50px;
    padding: 0;
}
.box{
    margin: 100px auto 20px;
    padding:40px 30px 70px;
    width:90%;
    max-width: 600px;
    border: 2px solid black;
    border-radius: 20px;
    background-color:rgb(120, 206, 227);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);   
}

h2{
    color: #002765;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 img{
    width: 55px;
    height: 55px;
    background-size: cover;
}
input {
        width: calc(100% - 90px);
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 2px solid dodgerblue;
        margin-bottom: 20px;
        border-radius: 15%;
    }
    button {
        padding: 10px 15px;
        background-color: #ff5945;
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #e74c3c;
    }
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px ;
    user-select: none;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(145, 31, 245, 0.968);
    transition: transform 0.2s ease;
    margin-right: 55px;
    margin-left: -25px;
}
ul li:hover {
        transform: scale(1.02);
    }
ul li::before{
    content: ' ';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(uncheckimg.webp);
    background-size: cover;
    background-position:center;
    top: 12px;
    left: 8px;
}
li.tic{
    color: #0e15eb;
    text-decoration: line-through;
    opacity: 0.7;
}
li.tic::before{
     background-image: url(check.webp);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: #f7887c;
        color: #fff;

}
footer{ color:red}

@media (max-width: 600px) {
        .box {
            padding: 5px;
        }

        h2 img {
            width: 40px;
        }

        input {
            margin-left: 10px;
            font-size: 14px;
        }

        button {
            font-size: 10px;
        }

        ul li {
            font-size: 15px;
            padding: 10px 8px 10px 40px;
        }

        ul li span {
            width: 20px;
            height: 20px;
            font-size: 18px;
        }

        footer marquee {
            font-size: 12px;
        }
    }